html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

div,
section {
  display: flex;
}

.container {
  max-width: 65vw;
  text-align: center;
}

span {
  border: 1px solid black;
  padding: 20px;
}

.week-section {
  flex-flow: row wrap;
  flex: 5;
}

.week-section span {
  height: 150px;
}

.heading {
  flex-basis: 100%;
  font-weight: bold;
}

.day {
  flex: 1;
}

.notes-section {
  flex-flow: column wrap;
  flex: 2;
}

.notes-subsection {
  flex-basis: 50%;
  align-self: stretch;
  text-transform: uppercase;
}
