html {
  font-family: Helvetica, sans-serif;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  border-bottom: 3px solid gray;
}

header h1,
header nav {
  display: inline-block;
}

header h1 {
  margin-right: 100px;
}

nav ul {
  padding-inline-start: 0;
}

nav ul li {
  display: inline-block;
  padding: 0 12px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: green;
}
