@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

html {
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  font-size: 15px;
  line-height: 1.5;
}

body *,
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: url(./bg-body.png);
}

/* _______NAVBAR________ */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 20px auto;
}

header section h2 {
  color: #7a3f8f;
}

header section p {
  font-size: 10px;
  letter-spacing: -0.5px;
  font-weight: 300;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  padding-left: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: black;
}

/* _________SECTION_1________ */

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 80px auto 20px auto;
  padding: 30px;
}

.header-content * {
  margin-bottom: 20px;
}

.header-content {
  flex-basis: 75%;
}

.header-content-btn {
  border: none;
  outline: none;
}

.header-content-btn button {
  background: transparent;
  outline: none;
  border: 1pk solid black;
  border-radius: 4px;
  font-size: 0.8rem;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0;
}

.header-content-btn button:hover {
  color: white;
  background-color: #000;
}

.header-image img {
  max-width: 150px;
}

/* _________SECTION_2________ */

section {
  position: relative;
}

.our-team {
  padding: 30px;
}

.our-team h2 {
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 100px auto;
}

.cards .card {
  text-align: center;
  margin: 40px;
  flex-basis: 250px;
}

.card img {
  max-width: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: inset 0 0 20px black, 0 0 10px gray;
}

.name {
  font-weight: bold;
}

.description {
  margin-top: 20px;
  font-style: italic;
}

/* _________SECTION_3________ */

.sign-up {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #7a3f8f;
  height: 180px;
  color: white;
  text-align: center;
  padding: 30px;
}

.sign-up h2 {
  margin-bottom: 50px;
}

.our-team h2::after,
.sign-up h2::after,
.testimonials h2::after {
  position: absolute;
  content: "";
  border-bottom: 3px solid black;
  top: 80px;
  left: 50%;
  width: 80px;
  transform: translate(-50%);
}

#email {
  min-width: 300px;
}

.sign-up form input {
  font-size: 0.8rem;
  padding: 5px 10px;
}

/* __________SECTION_4____________ */

.testimonials {
  background-color: white;
  background-image: url(./bg-section.png);
  box-shadow: 0 0 15px 1px gray;
  padding: 30px;
}

.testimonials h2 {
  text-align: center;
}

.testimonial {
  margin-bottom: 20px;
  font-style: italic;
}

/* ________FOOTER__________ */
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 50px auto 0 auto;
}

footer .card {
  margin: 40px;
  flex-basis: 250px;
}

footer .card ul {
  display: flex;
  flex-flow: column wrap;
  list-style: none;
  max-height: 100px;
}

footer .card ul li a {
  color: black;
  text-decoration: none;
}
